// Switch size
$switch-width: 3rem;
$switch-height: 1.75rem;
$switch-border-size: 2px;

// Font sizing
$default-font-size: 1rem;
$h1-font-size: 2rem;
$input-font-size: 0.9rem;

// Paddings
$body-padding: 1rem;

// Form
$form-padding: 0.5rem;
$form-spacing: 0.125rem;
$form-group-spacing: 0.5rem;

// Text input
$input-width: $switch-width;
$input-height: $switch-height;

// Progress wheel
$progress-size: 12rem;
