.switch .check {
  display: none; }
.switch .label {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 1.75rem;
  width: 3rem;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 2px solid #9e9e9e;
  border-radius: 0.875rem;
  background: #9e9e9e;
  transition: background-color 0.3s ease-in-out; }
.switch .label:before {
  content: "";
  display: block;
  background: #ffffff;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1.25rem;
  width: calc(1.75rem - 4px);
  border-radius: 0.875rem;
  transition: right 0.3s ease-out 0s; }
.switch .check:checked + .label {
  background: #00c853;
  border-color: #00c853; }
.switch .check:checked + .label:before {
  right: 0; }

html {
  padding: 0;
  margin: 0; }

body {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  body .progress-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
  body .controls-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }

.header {
  top: 1rem;
  left: 1rem;
  position: absolute; }

@media screen and (orientation: portrait) {
  body {
    flex-direction: column; } }
@media screen and (orientation: landscape) {
  body {
    flex-direction: row; } }
body {
  font: normal 300 1rem Helvetica, Arial, sans-serif; }

.header {
  margin: 0;
  padding: 0;
  font: normal 500 2rem Helvetica, Arial, sans-serif; }

.progress {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border: 1px solid black; }

form {
  padding: 0.5rem; }
  form > * {
    padding: 0.125rem; }
  form :first-child {
    padding-top: 0; }
  form :last-child {
    padding-bottom: 0; }

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }
  .form-group * {
    margin: 0;
    padding: 0; }
  .form-group :first-child {
    margin-right: 0.5rem; }
  .form-group input[type="number"]::-webkit-outer-spin-button,
  .form-group input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .form-group input[type="number"] {
    -moz-appearance: textfield;
    width: 3rem;
    height: 1.75rem;
    border-radius: 0.875rem;
    border: 1px solid #212121;
    outline: none;
    padding: 0 0.4375rem;
    box-sizing: border-box;
    font: normal 300 0.9rem Helvetica, Arial, sans-serif; }
